h1{
    text-align: center;
}

button{
    margin-left: 47%;
    margin-bottom: 5px;
}

div{
    width: 600px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid black;
}